services:
  bot:
    build: .
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

  postgres:
    image: postgres:16
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: